<nav class="side-nav" [class.side-nav--collapsed]="collapsed()" data-testid="app-nav">
  <div class="side-nav__brand">
    @if (!collapsed()) {
      <img class="side-nav__logo" [src]="logoSrc()" alt="" aria-hidden="true" width="28" height="28" />
      <span class="side-nav__wordmark"><span class="side-nav__wordmark-ink">Ar</span><span class="side-nav__wordmark-brand">ka</span></span>
    }
    <button
      mat-icon-button
      type="button"
      class="side-nav__collapse-toggle"
      data-testid="nav-collapse-toggle"
      [attr.aria-label]="(collapsed() ? 'nav.expand' : 'nav.collapse') | transloco"
      (click)="toggleCollapsed()"
    >
      <mat-icon fontSet="material-symbols-outlined">{{ collapsed() ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <div class="side-nav__links">
    @for (link of primaryLinks; track link.route) {
      <a
        [routerLink]="'/' + link.route"
        routerLinkActive="side-nav__link--active"
        class="side-nav__link"
        [attr.data-testid]="link.testid"
        [matTooltip]="collapsed() ? (link.labelKey | transloco) : ''"
        matTooltipPosition="right"
      >
        <mat-icon fontSet="material-symbols-outlined">{{ link.icon }}</mat-icon>
        @if (!collapsed()) {
          <span>{{ link.labelKey | transloco }}</span>
        }
      </a>
    }

    <div class="side-nav__divider"></div>

    @for (resource of resources; track resource.id) {
      <button
        type="button"
        class="side-nav__link"
        [class.side-nav__link--active]="isResourceActive([resource.registerRoute, resource.dashboardRoute])"
        [matMenuTriggerFor]="resourceMenu"
        [attr.data-testid]="'nav-' + resource.id + '-menu'"
        [matTooltip]="collapsed() ? (resource.labelKey | transloco) : ''"
        matTooltipPosition="right"
      >
        <mat-icon fontSet="material-symbols-outlined">{{ resource.icon }}</mat-icon>
        @if (!collapsed()) {
          <span>{{ resource.labelKey | transloco }}</span>
        }
      </button>
      <mat-menu #resourceMenu="matMenu" xPosition="after" [class]="collapsed() ? '' : 'side-nav__resource-menu-panel'">
        <a mat-menu-item [routerLink]="'/' + resource.registerRoute" [attr.data-testid]="'nav-' + resource.id + '-register'">{{
          'nav.registerMenuItem' | transloco
        }}</a>
        <a mat-menu-item [routerLink]="'/' + resource.dashboardRoute" [attr.data-testid]="'nav-' + resource.id + '-dashboard'">{{
          'nav.dashboardMenuItem' | transloco
        }}</a>
      </mat-menu>
    }

    <div class="side-nav__divider"></div>

    @for (link of secondaryLinks; track link.route) {
      <a
        [routerLink]="'/' + link.route"
        routerLinkActive="side-nav__link--active"
        class="side-nav__link"
        [attr.data-testid]="link.testid"
        [matTooltip]="collapsed() ? (link.labelKey | transloco) : ''"
        matTooltipPosition="right"
      >
        <mat-icon [fontSet]="link.icon === 'telegram' ? '' : 'material-symbols-outlined'">{{ link.icon }}</mat-icon>
        @if (!collapsed()) {
          <span>{{ link.labelKey | transloco }}</span>
        }
      </a>
    }

    @if (auth.isAdmin()) {
      <a
        routerLink="/users"
        routerLinkActive="side-nav__link--active"
        class="side-nav__link"
        data-testid="nav-users"
        [matTooltip]="collapsed() ? ('nav.users' | transloco) : ''"
        matTooltipPosition="right"
      >
        <mat-icon fontSet="material-symbols-outlined">manage_accounts</mat-icon>
        @if (!collapsed()) {
          <span>{{ 'nav.users' | transloco }}</span>
        }
      </a>
    }
  </div>

  <div class="side-nav__spacer"></div>

  <div class="side-nav__footer">
    <button
      type="button"
      class="side-nav__link"
      [class.side-nav__link--active]="isResourceActive(['change-password'])"
      [matMenuTriggerFor]="settingsMenu"
      data-testid="nav-settings-menu"
      [matTooltip]="collapsed() ? ('nav.settings' | transloco) : ''"
      matTooltipPosition="right"
    >
      <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
      @if (!collapsed()) {
        <span>{{ 'nav.settings' | transloco }}</span>
      }
    </button>
    <mat-menu #settingsMenu="matMenu" xPosition="after" (closed)="languageExpanded.set(false)">
      <button
        type="button"
        class="side-nav__settings-language-toggle"
        data-testid="nav-settings-language-toggle"
        [attr.aria-expanded]="languageExpanded()"
        aria-controls="side-nav-settings-language-list"
        (click)="toggleLanguageExpanded($event)"
      >
        <mat-icon fontSet="material-symbols-outlined">language</mat-icon>
        <span>{{ 'language.label' | transloco }}</span>
        <mat-icon
          fontSet="material-symbols-outlined"
          class="side-nav__settings-language-chevron"
          [class.side-nav__settings-language-chevron--open]="languageExpanded()"
          >expand_more</mat-icon
        >
      </button>
      <div
        id="side-nav-settings-language-list"
        class="side-nav__settings-language-list"
        [class.side-nav__settings-language-list--open]="languageExpanded()"
      >
        @for (locale of locales; track locale.value) {
          <button
            mat-menu-item
            type="button"
            [attr.data-testid]="'nav-settings-language-' + locale.value"
            (click)="setLocale(locale.value)"
          >
            <mat-icon fontSet="material-symbols-outlined">{{ language.current() === locale.value ? 'check' : '' }}</mat-icon>
            <span>{{ locale.label }}</span>
          </button>
        }
      </div>
      <button mat-menu-item type="button" data-testid="nav-settings-theme" (click)="theme.toggle()">
        <mat-icon fontSet="material-symbols-outlined">{{ theme.current() === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
        <span>{{ (theme.current() === 'dark' ? 'theme.switchToLight' : 'theme.switchToDark') | transloco }}</span>
      </button>
      <a mat-menu-item routerLink="/change-password" data-testid="nav-change-password">
        <mat-icon fontSet="material-symbols-outlined">lock_reset</mat-icon>
        <span>{{ 'nav.changePassword' | transloco }}</span>
      </a>
      <button mat-menu-item type="button" data-testid="nav-logout" (click)="logout()">
        <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
        <span>{{ 'nav.logout' | transloco }}</span>
      </button>
    </mat-menu>
  </div>
</nav>
